<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visits</title>
</head>
<body>
    <ul>
        {% for visit in object_list %}
            <li>
                <a href="{% url 'visit-detail' pk=visit.id %}">
                    Name: <strong>{{ visit.name }}</strong> <br>
                    Date: {{ visit.date }} <br>
                    Reason: {{ visit.reason }} <br>
                    Room ID: {{ visit.room.id }} <br>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>

</html>